.section{
    border-bottom: 1px solid #3333332c;
    margin-top: 1vh;
    padding-bottom: 1vh;
}

.item-list{
    margin-left: 1vw;
}

.title{
    font-size: 1rem;
    font-weight: bold;
}

.callRequested{
    font-size: 0.6rem;
    background-color: mediumseagreen;
    color: white;
    padding: 2px;
    border-radius: 5px;
}