<div class="container">
  <form (ngSubmit)="onSubmit()" #form="ngForm">
    <div class="section">
      <label for="name">
        NAME
      </label>
      <input type="text" id="name" name="clientname" ngModel>
    </div>
    <div class="section">
      <label for="email">
        EMAIL
      </label>
      <input id="email" type="text" name="email" ngModel email>
    </div>
    <div class="section">
      <label for="phone">
        PHONE
      </label>
      <input id="phone" type="text" name="phone" ngModel>
    </div>
    <button type="submit" [disabled]="!form.valid">SUBMIT</button>
  </form>
</div>