section{
    width: 73vw;
    box-sizing: border-box;
    padding: 1vw;
    margin: 1vw;
    border-radius: 20px;
    box-shadow: 0 0 3px 3px rgba(65, 105, 225, 0.171);
}

@media screen and (max-width: 768px) {
    section{
        width: 95vh;
        /* margin: 0; */
    }

    .margin-top{
        margin-top: 10vh;
    }
}
