aside{
    position: fixed;
    top: 0;
    right: 0;
    width: 20vw;
    height: 100vh;
    background-color: white;
    padding: 1vw;
    box-shadow: 0 0 4px 4px #cccccc58;

}

.actions{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

svg{
    width: clamp(1rem, 1.5vw, 1.5rem);
}