<div class="container">
    <h4>{{section.name}}</h4>
    <ul>
        <li *ngFor="let item of section.items">
            <div class="item-list">
                <h6>{{item.name}}</h6>
                <ul>
                    <li *ngFor="let option of item.options">
                        <app-option [option]="option"></app-option>
                    </li>
                </ul>
                <input type="text" placeholder="Add an option" [(ngModel)]="extraOption" />
            </div>
        </li>
    </ul>
</div>
