section{
    width: 73vw;
    box-sizing: border-box;
    padding: 1vw;
    margin: 1vw;
    border-radius: 20px;
    box-shadow: 0 0 3px 3px rgba(65, 105, 225, 0.171);
    
}

@media screen and (max-width: 768px) {
    section{
        width: 95vh;
        /* margin: 0; */
    }

}

.group{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    margin: 1vh;
}

label{
    font-weight: bold;
    margin-left: 3vw;
}

input{
    width:50%;
    border: none;
    outline: none;
    padding: 0 1vh;
    height: 4vh;
    background-color: rgba(65, 105, 225, 0.162);
    color: royalblue;
    border-bottom: 2px  solid transparent;
}

input:focus{
    border-bottom: 2px  solid royalblue;
}

button{
    font-size: 1rem;
    color: royalblue;
    background-color: inherit;
    padding: 1vh;
    margin: 3vh;
    border:1px solid royalblue;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover{
    background-color: rgba(65, 105, 225, 0.162);
}